.narrative {
  max-width: 100rem;
}

.answer.active {
  font-size: 1rem;
}

.duration {
  font-size: 1rem;
  opacity: 0.5;
}

[data-show="setup"] {
  #setup-page {
    display: block;
  }
  #results-page {
    display: none;
  }
  #answers-page {
    display: none;
  }
}
[data-show="results"] {
  #setup-page {
    display: none;
  }
  #results-page {
    display: block;
  }
  #answers-page {
    display: none;
  }
}
[data-show="answers"] {
  #setup-page {
    display: none;
  }
  #results-page {
    display: none;
  }
  #answers-page {
    display: block;
  }
}

@media (max-width: 768px) {
  #youtube-player-container {
    position: static !important;
    transform: none !important;
  }
}
.answer{
  font-size: 1rem;
}





#youtube-player-container {
  background-color: rgb(46, 44, 44);
  display: flex;           /* Use flexbox for centering */
  flex-direction: column;  /* Stack children vertically */
  align-items: center;     /* Center items horizontally */
  justify-content: center;  /* Center items vertically */
             /* Full viewport height */
}

.list-group {
  width:  fit-content;

}

.my-10.d-flex.flex-column{
  width: 50rem;
}
#faq-container {
  display: block;
  scrollbar-width: thin;
  overflow-y: scroll;
  max-height: 45rem;
  max-width: 50 rem;
}

.faq{
  cursor: pointer;
}

.faq:hover {
  background-color: rgb(221, 237, 250);
}

.blockquote {
  max-width: 60rem;
  flex-grow: initial;
}
.text-center.mb-4{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.mx-auto my-3 narrative{
  align-items: center;
}

/*thumbnail css*/


.d-flex {
  display: flex;
}


.footer {
  position: relative;
  bottom: 0; /* Ensures it's at the very bottom */
  width: 100%; /* Ensures it takes full width */
  margin-top: auto; /* Pushes content above it down */
 
  
}

/* Courasal the container with videos */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}
.video-thumbnail {
  flex: 1 0 21%;
  text-align: center;
  transition: transform 0.3s;
  margin: 0 10px; /* Add space between each video */
}
.video-thumbnail:hover {
  transform: scale(1.05);
}
.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 5px;
  
}
.video-title {
  margin-top: 10px;
  font-weight: bold;
  color: #0e0d0d;
}
.carousel-button {
  background-color: transparent; /* Transparent background */
  border: 2px solid #000; /* Black border */
  color: #000; /* Black text color */
  font-size: 15px; /* Font size for the arrows */
  padding: 10px 15px; /* Padding around the button */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  outline: none; /* Remove outline */
}

.carousel-button:hover {
  background-color: #000; /* Black background on hover */
  color: #fff; /* White text color on hover */
}

.carousel-button:focus {
  outline: none; /* Remove outline when focused */
}
